.dishes{
    border: 1px solid #ccc;
    width: 50%;
}

.stock{
    background: #d3d1e6;
}
.no-stock{
    background: #a9f3ac;
}

.border{
    border: 2px solid #d3d1e6;
}
.no-border{
    border: 2px solid #a9f3ac;
}